:host {
  display: block;
  height: 100%;
}
.bg-brand-dark { background-color: #0d0d0d; }
.text-brand-primary { color: #ec5b13; }
.bg-brand-primary { background-color: #ec5b13; }
.border-brand-primary { border-color: #ec5b13; }
