            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
            <label class="block">
              <span class="setting-label">Output Device</span>
              <select
                class="smuve-input w-full mt-2"
                [ngModel]="selectedAudioOutputId()"
                (ngModelChange)="selectAudioOutput($event)"
              >
                <option [ngValue]="null">Default Device</option>
                <option
                  *ngFor="let device of audioOutputDevices()"
                  [value]="device.deviceId"
                >
                  {{ device.label }}
                </option>
              </select>
            </label>
