:host {
  flex-grow: 1;
  padding: 15px;
  background-color: var(--secondary-bg);
}

h3 {
  margin-top: 0;
  color: var(--accent-color);
  text-align: center;
}

.synth-controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.control-group {
  display: flex;
  flex-direction: column;
}

.control-group label {
  margin-bottom: 5px;
}

.control-group select,
.control-group input[type="range"] {
  width: 100%;
}

.control-group span {
  text-align: right;
  font-size: 0.9em;
  color: #aaa;
}
